<!-- 侧栏文章推荐 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div class="col-sm-3 col-12" style="padding: 0px 10px;">
    <div class="col-12 search-bar form-group row">
        <div class="col-8">
            <input type="text" class="form-control" id="keyword" placeholder="请输入关键字" onkeyup="doSearch(event)"/>
        </div>
        <div class="col-4" style="text-align:right;">
            <button type="button" class="btn btn-primary" onclick="doSearch(null)">搜索</button>
        </div>
    </div>

    <div class="col-12 side">
        <div class="tip">最新文章</div>
        <ul id="last">
            <li v-for="(article,index) in content">
                <a v-bind:href="'/article/' + article.articleid">{{index}}. {{article.headline.substr(0,15)}}...
            </a></li>
        </ul>
    </div>

    <div class="col-12 side">
        <div class="tip">最多阅读</div>
        <ul id="most">
            <li v-for="(article,index) in content">
                <a v-bind:href="'/article/' + article.articleid">{{index}}. {{article.headline.substr(0,15)}}...
            </a></li>
        </ul>
    </div>

    <div class="col-12 side" id="fixedmenu">
        <div class="tip">特别推荐</div>
        <ul id="recommended">
            <li v-for="(article,index) in content">
                <a v-bind:href="'/article/' + article.articleid">{{index}}. {{article.headline.substr(0,15)}}...
            </a></li>
        </ul>
        <div class="tip" style="background-color: #3276b1; text-align: center;
            cursor: pointer;" onclick="gotoTop()">回到顶部</div>
    </div>
</div>

<script type="text/javascript">
    function doSearch(e) {
        // 如果参数e有值，但是对应的键盘码不是13（13表示回车），则不做响应
        if (e != null && e.keyCode != 13) {
            return false;
        }
        // 利用jQuery的ID选择器取搜索框的值，为去除前后空格
        var keyword = $.trim($("#keyword").val());
        // 如果关键字为空，或长度大于10，或包含%，则表示无效，代码结束运行
        if (keyword.length == 0 || keyword.length > 10 || keyword.indexOf("%") >= 0) {
            bootbox.alert({title:'错误提示', message:'你输入的关键字不合法.'});
            $("#keyword").focus();     // 让文本框获取到焦点，方便用户输入
            return false;
        }
        // 如果keyword满足条件，则直接将页面跳转至/search/1-<keyword>地址
        location.href = '/search/1-' + keyword;
    }

    $(document).ready(function(){
        $.get('/recommend', function(data) {
            // 分别取得JSON数据中的三个类别的数据
            var lastData = data[0];
            var mostData = data[1];
            var recommendedData = data[2];
            var v1 = new Vue({
                el: '#last',    // 指定与哪个HTML元素进行动态绑定
                data: {content: lastData}   // 指定对应的动态渲染的内容
            });
            var v2 = new Vue({
                el: '#most',
                data: {content: mostData}
            });
            var v3 = new Vue({
                el: '#recommended',
                data: {content: recommendedData}
            });
        });
    });

    $(document).ready(function(){
        // 利用浏览器的user-agent属性判断浏览器类型
        var userAgentInfo = navigator.userAgent.toLowerCase();
        var agents = ["android", "iphone", "symbianOS", "windows phone", "ipad", "ipod"];
        var flag = true;    // 表示是PC端
        for (var v = 0; v < agents.length; v++) {
            if (userAgentInfo.indexOf(agents[v]) >= 0) {
                flag = false;   // 表示这是移动端
                break;
            }
        }

        // 是PC端时才进行右侧停靠
        if (flag == true) {
            var fixedDiv = document.getElementById("fixedmenu");
            var H = 0;
            var Y = fixedDiv;
            while (Y) {
                H += Y.offsetTop;
                Y = Y.offsetParent;
            }

            window.onscroll = function () {
                var s = document.body.scrollTop || document.documentElement.scrollTop;
                if (s > H + 500) {
                    fixedDiv.style = "position:fixed; top:0; margin-top:0; width: 306px;";
                } else {
                    fixedDiv.style = "";
                }
            }
        }
    });

    function gotoTop() {
        $('html, body').animate({scrollTop: 0}, 800);
        return false;
    }
</script>
