{extend name="../view/public/base.html" /}
{block name="content"}
<!--
<script type="text/javascript" src="/ue/ueditor.config.js"></script>
<script type="text/javascript" src="/ue/ueditor.all.min.js"> </script>
<script type="text/javascript" src="/ue/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
    var ue = UE.getEditor('comment', {
        initialFrameHeight: 150,    // 编辑器初始高度
        autoHeightEnabled: true,    // 根据内容自动调整高度
        serverUrl: '/uedit',        // 指定后台接口地址
        toolbars: [ [
            'fontfamily', //字体
            'fontsize', //字号
            'paragraph', //段落格式
            '|',
            'justifyleft', //居左对齐
            'justifycenter', //居中对齐
            'justifyright', //居右对齐
            'forecolor', //字体颜色
            'bold', //加粗
            '|',
            'formatmatch', //格式刷
            'horizontal', //分隔线
            'link', //超链接
            'unlink', //取消链接
            'simpleupload', //单图上传
            'insertimage', //多图上传
            'emotion', //表情
            'spechars', //特殊字符
            '|',
            'fullscreen', //全屏
            'autotypeset', //自动排版
            'removeformat', //清除格式
            'insertcode', //代码语言
        ] ]
    });
</script>
-->
<div class="col-sm-9 col-12" style="padding: 0 10px;" id="left">
<div class="col-12 article-detail row">
    <div class="col-9 title">
        {$article.headline}
    </div>
    <div class="col-3 favorite">
        {if $favorited == true}
        <label class="favorite-btn" onclick="cancelFavorite('{$article.articleid}')">
            <span class="oi oi-circle-x" aria-hidden="true"></span> 取消收藏
        </label>
        {else /}
        <label class="favorite-btn" onclick="addFavorite('{$article.articleid}')">
            <span class="oi oi-heart" aria-hidden="true"></span> 收藏本文
        </label>
        {/if}
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 info">
        作者：{$article.nickname}&nbsp;&nbsp;&nbsp;类别：{$Think.config.article_type[$article.category]}&nbsp;&nbsp;&nbsp;
        日期：{$article.createtime}&nbsp;&nbsp;&nbsp;
        阅读：{$article.readcount} 次&nbsp;&nbsp;&nbsp;消耗积分：{$article.credit} 分
    </div>
    <div class="col-12 content" id="content">
        {$article.content | raw}    <!-- 要保持HTML原样输出，不能转义 -->
    </div>

    <!-- 只有需要消耗积分的文章且未曾支付积分的文章才显示阅读全文按钮 -->
    {if $article.credit > 0 && $payed == false}
    <div class="col-12 readall">
        {if $Request.session.islogin == 'true'}
        <button class="col-sm-10 col-12" onclick="readAll()">
            <span class="oi oi-data-transfer-download" aria-hidden="true"></span>
            阅读全文（消耗积分：{$article.credit} 分）
        </button>
        <!-- 如果用户未登录则提示先登录 -->
        {else /}
        <button class="col-sm-10 col-12" onclick="showLogin()">
            <span class="oi oi-data-transfer-download" aria-hidden="true"></span>
            你还未登录，占此登录后可阅读全文
        </button>
        {/if}
    </div>
    {/if}


    <div class="col-12 favorite" style="margin: 30px 0px;">
        <!-- 只有文章作者可以编辑该文章 -->
        {if $article.userid == $Request.session.userid}
        <label>
            <span class="oi oi-task" aria-hidden="true"></span> 编辑内容
        </label>
        {/if}
        &nbsp;&nbsp;&nbsp;
        <!-- 收藏和取消收藏按钮 -->
        {if $favorited == true}
        <label class="favorite-btn" onclick="cancelFavorite('{$article.articleid}')">
            <span class="oi oi-circle-x" aria-hidden="true"></span> 取消收藏
        </label>
        {else /}
        <label class="favorite-btn" onclick="addFavorite('{$article.articleid}')">
            <span class="oi oi-heart" aria-hidden="true"></span> 收藏本文
        </label>
        {/if}
    </div>
</div>

<div class="col-12 article-nav">
    <div>版权所有，转载本站文章请注明出处：蜗牛笔记， http://www.woniunote.com/article/1</div>
    <div>上一篇：
        <a href="/article/{$prev_next['prev_id']}">{$prev_next.prev_headline}</a>
    </div>
    <div>下一篇：
        <a href="/article/{$prev_next['next_id']}">{$prev_next.next_headline}</a>
    </div>
</div>

<div class="col-12 article-comment" id="commenttop">
    <div class="col-12 row add-comment ">
        <div class="col-sm-2 col-12">
            <label for="nickname">你的昵称：</label>
        </div>
        <div class="col-sm-10 col-12" style="padding: 0 0 0 10px;">
            {if $Request.session.islogin == 'true'}
            <input type="text" class="form-control" id="nickname" value='{$Request.session.nickname}' readonly/>
            {else /}
            <input type="text" class="form-control" id="nickname" value="你还未登录，双击此处可登录." ondblclick="showLogin()" readonly/>
            {/if}
        </div>
    </div>
    <div class="col-12 row">
        <div class="col-sm-2 col-12">
            <label for="comment">你的评论：</label>
        </div>
        <div class="col-sm-10 col-12" style="padding: 0 0 0 10px;">
            <textarea id="comment" class="form-control" placeholder="请在此留下你的真诚的、感人的、发自肺腑的赞美之词." style="height: 100px;"></textarea>
            <!--<script id="comment" name="comment" type="text/plain"></script>-->
        </div>
    </div>
    <div class="col-12 row" style="margin-bottom: 20px;">
        <div class="col-2"></div>
        <div class="col-sm-8 col-12" style="text-align: left; color: #888888;">提示：登录后添加有效评论可享受积分哦！</div>
        <div class="col-sm-2 col-12" style="text-align: right">
            {if $Request.session.islogin == 'true'}
            <button type="button" class="btn btn-primary" onclick="addComment('{$article.articleid}')" id="submitBtn">提交评论</button>
            <!-- 回复评论按钮默认设置为隐藏 -->
            <button type="button" class="btn btn-primary" onclick="replyComment('{$article.articleid}')" style="display: none;" id="replyBtn">回复评论</button>
            {else /}
            <button type="button" class="btn btn-primary" onclick="showLogin()">点此登录</button>
            {/if}
        </div>
    </div>

    <div id="commentDiv">
    <!-- 循环遍历评论，这部分代码保持不变 -->
    {volist name='comment_list' id='comment'}
    <div class="col-12 list row">
    <div class="col-2 icon">
        <img src="/avatar/{$comment.avatar}" class="img-fluid" style="width: 70px;"/>
    </div>
    <div class="col-10 comment">
    <div class="col-12 row" style="padding: 0px;">
        <div class="col-7 commenter">{$comment.nickname}&nbsp;&nbsp;&nbsp;{$comment.createtime}</div>
        <div class="col-5 reply">
            <!-- 文章作者、管理员和评论者只能回复和隐藏，不能点赞-->
            {if $article.userid==$Request.session.userid || $Request.session.role == 'admin' || $comment.userid==$Request.session.userid}
            <label onclick="gotoReply('{$comment.commentid}')">
                <span class="oi oi-arrow-circle-right" aria-hidden="true"></span>回复
            </label>&nbsp;&nbsp;&nbsp;
            <label onclick="hideComment(this, '{$comment.commentid}')">
                <span class="oi oi-delete" aria-hidden="true"></span>隐藏
            </label>
            <!-- 其他用户只能回复和点赞，不能隐藏 -->
            {else /}
            <label onclick="gotoReply('{$comment.commentid}')">
                <span class="oi oi-arrow-circle-right" aria-hidden="true"></span>回复
            </label>&nbsp;&nbsp;&nbsp;
            <label onclick="agreeComment(this, '{$comment.commentid}')">
                <span class="oi oi-chevron-bottom" aria-hidden="true"></span> 赞成 (<span>{$comment.agreecount}</span>)
            </label>&nbsp;&nbsp;&nbsp;
            <label onclick="opposeComment(this, '{$comment.commentid}')">
                <span class="oi oi-x" aria-hidden="true"></span> 反对 (<span>{$comment.opposecount}</span>)
            </label>
            {/if}
        </div>
    </div>
    <div class="col-12 content">
        {$comment.content}
    </div>
    </div>
    </div>

    <!-- 在当前评论下方填充回复评论,如果当前评论有回复才填充，使用notempty条件判断 -->
    {notempty name="comment.reply_list"}
    {volist name="comment.reply_list" id='reply'}
    <div class="col-12 list row">
        <div class="col-2 icon">
            <!-- 为原始评论设置45像素的小头像，并设置移动端自适应 -->
            <img src="/avatar/{$reply.avatar}" class="img-fluid"
                 style="width: 45px;"/>
        </div>
        <div class="col-10 comment" style="border: solid 1px #ccc;">
            <div class="col-12 row" style="color: #337AB7;">
                <div class="col-sm-7 col-12 commenter" style="color: #337AB7;">
                    {$reply.nickname} 回复 {$comment.nickname}
                    &nbsp;&nbsp;&nbsp;{$reply.createtime}
                </div>
                <div class="col-sm-5 col-12 reply">
                    <!-- 回复的评论不能继续回复，但是可以隐藏和点赞 -->
                    {if $article.userid == $Request.session.userid ||
                    $Request.session.role == 'admin' ||
                    $comment.userid == $Request.session.userid}
                    <label onclick="hideComment(this, '{$reply.commentid}')">
                        <span class="oi oi-delete" aria-hidden="true"></span>
                        隐藏</label>&nbsp;&nbsp;
                    {/if}
                    <label onclick="agreeComment(this, '{$reply.commentid}')">
                        <span class="oi oi-chevron-bottom" aria-hidden="true"></span>
                        赞成(<span>{$reply.agreecount}</span>)
                    </label>&nbsp;&nbsp;
                    <label onclick="opposeComment(this, '{$reply.commentid}')">
                        <span class="oi oi-x" aria-hidden="true"></span>
                        反对(<span>{$reply.opposecount}</span>)
                    </label>
                </div>
            </div>
            <div class="col-12">
                回复内容：{$reply.content}
            </div>
        </div>
    </div>
    {/volist}
    {/notempty}
    {/volist}
    </div>

</div>
    <!-- 由于使用Ajax进行分页，分页导航时不能再使用超链接 -->
    {if $total > 1} <!-- 多于1页才有分面栏 -->
    <div class="col-12 paginate">
        <label onclick="gotoPage('{$article.articleid}', 'prev')">上一页</label>&nbsp;&nbsp;

        {for start="0" end="$total"}
        <label onclick="gotoPage('{$article.articleid}', '{$i+1}')">{$i+1}</label>&nbsp;&nbsp;
        {/for}

        <label onclick="gotoPage('{$article.articleid}', 'next')">下一页</label>
    </div>
    {/if}
</div>

<script type="text/javascript">
    function readAll() {
        var param = 'articleid={$article.articleid}&position={$position}';
        $.post('/article/readall', param , function (data) {
            if (data == 'credit_lack') {
                bootbox.alert({title:"错误提示", message:"你的积分余额不足."});
                return false;
            }
            $("#content").append(data);
            $(".readall").hide();   // 读取完成后隐藏阅读全文按钮
        });
    }

    // 发送收藏文章请求
    function addFavorite(articleid) {
        $.post('/favorite', 'articleid=' + articleid, function (data) {
            if (data == 'not-login') {
                bootbox.alert({title:"错误提示", message:"你还没有登录，不能收藏文章."});
            }
            else if (data == 'favorite-pass') {
                bootbox.alert({title:"信息提示", message:"文章收藏成功，可在我的收藏中查看."});
                    // 修改当前元素的内容
                    $(".favorite-btn").html('<span class="oi oi-heart" aria-hidden="true"></span> 感谢收藏');
                // 解除当前元素的单击事件，使期无法进行任何单击操作
                $(".favorite-btn").attr('onclick', '').unbind('click');
            }
            else if (data == 'favorite-fail') {
                    bootbox.alert({title:"错误提示", message:"收藏文章出错，请联系管理员."});
                }
            });
    }

    // 由于jQuery没有封装对$.delete，所以通过$.ajax发送Delete请求
    function cancelFavorite(articleid) {
        $.ajax({
            url: '/favorite/' + articleid,
            type: 'delete',    // 发送Delete请求
            success: function (data) {
                if (data == 'not-login') {
                    bootbox.alert({title:"错误提示", message:"你还没有登录，不能收藏文章."});
                    }
                else if (data == 'cancel-pass') {
                    bootbox.alert({title:"信息提示", message:"取消收藏成功."});
                    $(".favorite-btn").html('<span class="oi oi-heart aria-hidden="true"></span> 欢迎再来');
                    $(".favorite-btn").attr('onclick', '').unbind('click');
                }
                else if (data == 'cancel-fail') {
                    bootbox.alert({title:"错误提示", message:"取消收藏出错，请联系管理员."});
                }
            }
        });
    }

    // 添加评论
    function addComment(articleid) {
        var content = $.trim($("#comment").val());
        if (content.length < 5 || content.length > 1000) {
            bootbox.alert({title:"错误提示", message:"评论内容在5-1000字之间."});
            return false;
        }
        var param = 'articleid=' + articleid + '&content=' + content;
        $.post('/comment', param, function (data) {
            if (data == 'content-invalid') {
                bootbox.alert({title:"错误提示", message:"评论内容在5-1000字之间."});
            }
            else if (data == 'add-limit') {
                bootbox.alert({title:"错误提示", message:"当天已用完5条评论的限额."});
            }
            else if (data =='add-pass') {
                location.reload();
            }
            else {
                bootbox.alert({title:"错误提示", message:"发表评论出错，请联系管理员."});
            }
        });
    }

    // 定义全局变量，与函数同级，用于中转保存被回复评论的ID号
    var COMMENTID= 0;

    function gotoReply(commentid) {
        $("#submitBtn").hide();     // 隐藏发表评论按钮
        $("#replyBtn").show();      // 显示回复评论按钮
        $("#nickname").val("请在此回复编号为 " + commentid + " 的评论");
        $("#comment").focus();      // 让文本域获取焦点
        COMMENTID= commentid;  // 修改全局变量的值为当前被回复评论的iD
    }

    function replyComment(articleid) {
        var content = $.trim($("#comment").val());
        if (content.length < 5 || content.length > 1000) {
            bootbox.alert({title: "错误提示", message: "评论内容在5-1000字之间."});
            return false;
        }
        var param = 'articleid=' + articleid;
        param += '&content=' + content;
        param += '&commentid=' + COMMENTID;
        $.post('/reply', param, function (data) {
            if (data == 'content-invalid') {
                bootbox.alert({title: "错误提示", message: "评论内容在5-1000字之间."});
            }
            else if (data == 'reply-limit') {
                bootbox.alert({title:"错误提示", message:"当天已用完5条评论的限额."});
            }
            else if (data =='reply-pass') {
                location.reload();
            }
            else if (data == 'reply-fail') {
                bootbox.alert({title:"错误提示", message:"回复评论出错，请联系管理员."});
            }
        });
    }

    var PAGE = 1;   // 定义全局变量用于记录前面在哪一页，默认在第1页
    var TOTAL = {$total};  // 定义总页数，由模板引擎先引填充

    // 添加gotoPage函数对应的代码
    function gotoPage(articleid, type) {
        // 如果当前面是第1页，则上一页还是第1页
        if (type == 'prev') {
            if (PAGE > 1)
                PAGE -= 1;
        }
        // 如果当前页是是后一页，则下一页还是最后一页
        else if (type == 'next') {
            if (PAGE < TOTAL)
                PAGE += 1;
        }
        else {
            PAGE = parseInt(type);
        }
        fillComment(articleid, PAGE);
    }

    // 填充分页评论数据，注意其中的DOM元素的拼接操作
    function fillComment(articleid, pageid) {
        $("#commentDiv").empty();   // 先清空现有评论区内容
        var content = '';           // 用于拼接评论区元素与内容
        $.get('/comment/' + articleid + '-' + pageid, function (data) {
        var comment = data;
        for (var i in comment) {
            content += '<div class="col-12 list row">';
            content += '<div class="col-2 icon">';
            content += '<img src="/avatar/' + comment[i]['avatar'] + '" class="img-fluid" style="width: 70px;"/>';
            content += '</div>';
            content += '<div class="col-10 comment">';
            content += '<div class="col-12 row" style="padding: 0px;">';
            content += '<div class="col-sm-6 col-12 commenter">';
            content += comment[i]['nickname'];
            content += '&nbsp;&nbsp;&nbsp;' + comment[i]['createtime'];
            content += '</div>';
            content += '<div class="col-sm-6 col-12 reply">';
            <!-- 文章作者、管理员和评论者只能回复和隐藏，不能点赞-->
            <!-- 此处的判断内容由模板引擎先行填充，字符串的比较在外面加 "" -->
            if ("{$article.userid}" == "{$Request.session.userid}" ||
                "{$Request.session.role}" == "admin" ||
                comment[i]['userid']+"" == "{$Request.session.userid}") {
                content += '<label onclick="gotoReply(' + comment[i]['commentid'] + ')">';
                content += '<span class="oi oi-arrow-circle-right" aria-hidden="true"></span>';
                content += '回复</label>&nbsp;&nbsp;&nbsp;';
                content += '<label onclick="hideComment(this, ' + comment[i]['commentid'] + ')">';
                content += '<span class="oi oi-delete" aria-hidden="true"></span>隐藏</label>';
            }
            else {
                <!-- 其他用户只能回复和点赞，不能隐藏 -->
                content += '<label onclick="gotoReply(' + comment[i]['commentid'] + ')">';
                content += '<span class="oi oi-arrow-circle-right" aria-hidden="true"></span>回复';
                content += '</label>&nbsp;&nbsp;';
                content += '<label onclick="agreeComment(this, ' + comment[i]['commentid'] + ')">';
                content += '<span class="oi oi-chevron-bottom" aria-hidden="true"></span>赞成(<span>' + comment[i]['agreecount'] + '</span>)';
                content += '</label>&nbsp;&nbsp;';
                content += '<label onclick="opposeComment(this, ' + comment[i]['commentid'] + ')">';
                content += '<span class="oi oi-x" aria-hidden="true"></span>反对(<span>' + comment[i]['opposecount'] + '</span>)';
                content += '</label>';
            }
            content += '</div>';
            content += '</div>';
            content += '<div class="col-12 content">';
            content += comment[i]['content'];     <!-- 填充原始评论内容 -->
            content += '</div>';
            content += '</div>';
            content += '</div>';

            <!-- 在当前评论下方填充回复评论,如果当前评论有回复才填充 -->
            if (comment[i]['reply_list'].length > 0) {
            var reply = comment[i]['reply_list'];
            for (var j in reply) {
                content += '<div class="col-12 list row">';
                content += '<div class="col-2 icon">';
                content += '<img src="/avatar/' + reply[j]['avatar'] + '" class="img-fluid" style="width: 45px;"/>';
                content += '</div>';
                content += '<div class="col-10 comment" style="border: solid 1px #ccc;">';
                content += '<div class="col-12 row" style="color: #337AB7;">';
                content += '<div class="col-sm-7 col-12 commenter" style="color: #337AB7;">';
                content += reply[j]['nickname'];
                content += ' 回复 ';
                content += comment[i]['nickname'];
                content += '&nbsp;&nbsp;&nbsp;';
                content += reply[j]['createtime'];
                content += '</div>';
                content += '<div class="col-sm-5 col-12 reply">';
                <!-- 回复的评论不能继续回复，但是可以隐藏和点赞 -->
                if ("{$article.userid}" == "{$Request.session.userid}" ||
                    "{$Request.session.role}" == "admin" ||
                    reply[j]['userid']+"" == "{$Request.session.userid}") {
                    content += '<label onclick="hideComment(this, ' + reply[j]['commentid'] + ')">';
                    content += '<span class="oi oi-delete" aria-hidden="true"></span>隐藏';
                    content += '</label>&nbsp;&nbsp;';
                }
                content += '<label onclick="agreeComment(this, ' + reply[j]['commentid'] + ')">';
                content += '<span class="oi oi-chevron-bottom" aria-hidden="true"></span>赞成(<span>' + reply[j]['agreecount'] + '</span>)';
                content += '</label>&nbsp;&nbsp;';
                content += '<label onclick="opposeComment(this, ' + reply[j]['commentid'] + ')">';
                content += '<span class="oi oi-x" aria-hidden="true"></span>反对(<span>' + reply[j]['opposecount'] + '</span>)';
                content += '</label>';
                content += '</div>';
                content += '</div>';
                content += '<div class="col-12">';
                content += '回复内容：' + reply[j]['content'];
                content += '</div>';
                content += '</div>';
                content += '</div>';
            }
            }
        }
        $("#commentDiv").html(content);    // 填充到评论区域
        });
    }

    function agreeComment(obj, commentid) {
        param = "type=1&commentid=" + commentid;
        $.post('/opinion', param, function (data) {
            // 赞成成功后，将赞成数量+1并填充到页面中
            if (data == 'opinion-pass') {
                // 获取到当前元素下的第2个span标签元素
                var element = $(obj).children('span').eq(1);
                // 获取到赞成数量，并将其转换为整数
                var count = parseInt(element.text());
                element.text(count+1);
            }
        })
    }

    function opposeComment(obj, commentid) {
        param = "type=0&commentid=" + commentid;
        $.post('/opinion', param, function (data) {
            // 反对成功后，将反对数量-1并填充到页面中
            if (data == 'opinion-pass') {
                // 获取到当前元素下的第2个span标签元素
                var element = $(obj).children('span').eq(1);
                // 获取到赞成数量，并将其转换为整数
                var count = parseInt(element.text());
                element.text(count+1);
            }
        })
    }

    // 隐藏评论请求
    function hideComment(obj, commentid) {
        bootbox.confirm("你确定要隐藏这条评论吗？", function(result) {
            if (result) {
                $.ajax({
                    url: '/comment/' + commentid,
                    type: 'delete',    // 发送delete请求
                    success: function (data) {
                        if (data == 'hide-pass') {
                            // 通过父类选择器找到当前评论的顶层元素，并隐藏该元素
                            $(obj).parent().parent().parent().parent().hide();
                        } else if (data == 'hide-limit') {
                            bootbox.alert({title: "错误提示",
                                message: "带回复的评论无法隐藏."});
                        }
                    }
                });
            }
        });
    }

</script>

{include file="../view/public/side.html" /}
{/block}