<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>蜗牛笔记-全功能博客系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,
          shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>
    <!-- 将CSS样式表写入到专门的文件中，在此处引入即可 -->
    <link rel="stylesheet" href="/css/woniunote.css" type="text/css"/>
    <link href="/icon/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/woniunote.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/bootbox.min.js"></script>
</head>
<body>
<!-- 首页顶部Logo和Slogan区域 -->
<div class="navbar-default header">
    <div class="container" style="padding: 0px 10px 0px 0px;">
        <div class="row">
            <div class="col-sm-4 col-4" style="margin: 10px 0px;">
                <a href="/">
                    <img src="/img/logo.png" style="width: 230px;" id="logo">
                </a>
            </div>
            <!-- 仅在sm及以上设备中显示 -->
            <div class="col-sm-8 col-8 d-none d-sm-block"
                 style="text-align: right; padding-top: 20px;">
                <h2 style="color: midnightblue">以蜗牛之名, 行学习之实</h2>
            </div>
            <!-- 仅在移动端显示 -->
            <div class="col-sm-8 col-8 d-sm-none"
                 style="text-align: right; padding-top: 20px;">
                <h3 style="color: midnightblue">技术博客</h3>
            </div>
        </div>
    </div>
</div>

<!-- 设置一个最外层DIV，保持100%的宽度拉通，设置导航栏 -->
<div class="my-menu">
    <div class="container" style="padding: 0px;">
        <!-- 基于BootStrap定制导航栏，可以参数bootcss.com中文网站的教程 -->
        <nav class="navbar navbar-expand-lg navbar-dark menu-bar">
            <a class="navbar-brand" href="#">快捷导航</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <!-- 配置折叠按钮，在移动端点击即可显示导航菜单，所有类和ID属性请勿修改 -->
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- 配置导航菜单项列表 -->
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <!-- 直接读取配置文件来构建分类导航菜单 -->
                                            <a class="nav-item nav-link" href="/type/1-1">PHP开发</a>
                                            <a class="nav-item nav-link" href="/type/2-1">Java开发</a>
                                            <a class="nav-item nav-link" href="/type/3-1">Python开发</a>
                                            <a class="nav-item nav-link" href="/type/4-1">Web前端</a>
                                            <a class="nav-item nav-link" href="/type/5-1">测试开发</a>
                                            <a class="nav-item nav-link" href="/type/6-1">数据科学</a>
                                            <a class="nav-item nav-link" href="/type/7-1">网络安全</a>
                                            <a class="nav-item nav-link" href="/type/8-1">蜗牛杂谈</a>
                                    </div>
                <!-- 使用Ajax动态渲染登录前后的菜单项，让静态页面动态化 -->
                <div class="navbar-nav ml-auto" id="loginmenu"></div>
                <!-- 编写Ajax代码，直接从/user/info接口拿数据来渲染 -->
                <script type="text/javascript">
                $(document).ready(function () {
                    $.get('/user/info', function (data) {
                        content = '';
                        if (data == null) {
                            content += '<a class="nav-item nav-link" href="#" onclick="showLogin()">登录</a>';
                            content += '<a class="nav-item nav-link" href="#" onclick="showReg()">注册</a>';
                        }
                        else {
                            content += '<a class="nav-item nav-link" href="/ucenter">欢迎你：' + data["nickname"] + '</a>&nbsp;&nbsp;&nbsp;';
                            if (data['role'] == 'admin') {
                                content += '<a class="nav-item nav-link" href="/system"> 系统管理</a>&nbsp;&nbsp;&nbsp;';
                            }
                            else {
                                content += '<a class="nav-item nav-link" href="/ucenter"> 用户中心</a>&nbsp;&nbsp;&nbsp;';
                            }
                            content += '<a class="nav-item nav-link" href="/user/logout">注销</a>';
                        }
                        $("#loginmenu").append(content);
                    });
                });
                </script>

            </div>
        </nav>
    </div>
</div>

<!-- 中部区域布局 -->
<div class="container" style="margin-top: 20px;">
    <div class="row">
        
<div class="col-sm-9 col-12" style="padding: 0 10px;" id="left">
    <!-- 轮播图组件应用，除了修改图片路径外，其它内容可不修改 -->
    <div id="carouselExampleIndicators" class="col-12 carousel slide"
         data-ride="carousel" style="padding: 0px">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0"
                class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/img/banner-1.jpg" class="d-block w-100" alt="Banner广告一">
            </div>
            <div class="carousel-item">
                <img src="/img/banner-2.jpg" class="d-block w-100" alt="Banner广告二">
            </div>
            <div class="carousel-item">
                <img src="/img/banner-3.jpg" class="d-block w-100" alt="Banner广告三">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators"
           role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators"
           role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!-- 文章列表，使用volist循环填充即可 -->
        <div class="col-12 row article-list">
        <div class="col-sm-3 col-3 thumb d-none d-sm-block">
            <img src="/thumb/128.png" class="img-fluid"/>
        </div>
        <div class="col-sm-9 col-xs-12 detail">
            <div class="title"><a href="/article/128">测试用例设计（二）</a></div>
            <div class="info">作者：reader1&nbsp;&nbsp;&nbsp;类别：Web前端&nbsp;&nbsp;&nbsp;
                日期：2020-03-26 15:38:22&nbsp;&nbsp;&nbsp;阅读：40 次&nbsp;&nbsp;&nbsp;消耗积分：0 分</div>
            <div class="intro">
                本周分享《测试用例设计》实验内容，由于知识含量较多，现在拆分为多篇分享，今日是第一篇。回顾上周内容，请点击：教材连载：测试用例设计（一）&amp;nbsp;实 验 简 介&amp;nbs ...
            </div>
        </div>
    </div>
        <div class="col-12 row article-list">
        <div class="col-sm-3 col-3 thumb d-none d-sm-block">
            <img src="/thumb/127.png" class="img-fluid"/>
        </div>
        <div class="col-sm-9 col-xs-12 detail">
            <div class="title"><a href="/article/127">测试用例设计（一）</a></div>
            <div class="info">作者：reader1&nbsp;&nbsp;&nbsp;类别：Web前端&nbsp;&nbsp;&nbsp;
                日期：2020-03-17 10:07:58&nbsp;&nbsp;&nbsp;阅读：49 次&nbsp;&nbsp;&nbsp;消耗积分：0 分</div>
            <div class="intro">
                本周分享《测试用例设计》实验内容，由于知识含量较多，现在拆分为多篇分享，今日是第一篇。回顾上周内容，请点击：教材连载：软件测试六大类型（二）&amp;nbsp;实 验 简 介&amp;n ...
            </div>
        </div>
    </div>
        <div class="col-12 row article-list">
        <div class="col-sm-3 col-3 thumb d-none d-sm-block">
            <img src="/thumb/126.png" class="img-fluid"/>
        </div>
        <div class="col-sm-9 col-xs-12 detail">
            <div class="title"><a href="/article/126">测试用例设计（一）</a></div>
            <div class="info">作者：reader1&nbsp;&nbsp;&nbsp;类别：Web前端&nbsp;&nbsp;&nbsp;
                日期：2020-03-17 10:07:56&nbsp;&nbsp;&nbsp;阅读：62 次&nbsp;&nbsp;&nbsp;消耗积分：0 分</div>
            <div class="intro">
                本周分享《测试用例设计》实验内容，由于知识含量较多，现在拆分为多篇分享，今日是第一篇。回顾上周内容，请点击：教材连载：软件测试六大类型（二）&amp;nbsp;实 验 简 介&amp;n ...
            </div>
        </div>
    </div>
        <div class="col-12 row article-list">
        <div class="col-sm-3 col-3 thumb d-none d-sm-block">
            <img src="/thumb/125.png" class="img-fluid"/>
        </div>
        <div class="col-sm-9 col-xs-12 detail">
            <div class="title"><a href="/article/125">软件测试六大类型（二）</a></div>
            <div class="info">作者：reader1&nbsp;&nbsp;&nbsp;类别：Web前端&nbsp;&nbsp;&nbsp;
                日期：2020-03-10 14:18:05&nbsp;&nbsp;&nbsp;阅读：83 次&nbsp;&nbsp;&nbsp;消耗积分：0 分</div>
            <div class="intro">
                					本周分享《软件测试六大类型》实验中的第二部分内容。回顾上周内容，请点击：教材连载：软件测试六大类型（一）实验简介我们可以从不同的角度对一个软件产品进行质量的评估 ...
            </div>
        </div>
    </div>
        <div class="col-12 row article-list">
        <div class="col-sm-3 col-3 thumb d-none d-sm-block">
            <img src="/thumb/124.png" class="img-fluid"/>
        </div>
        <div class="col-sm-9 col-xs-12 detail">
            <div class="title"><a href="/article/124">软件测试六大类型（一）</a></div>
            <div class="info">作者：reader1&nbsp;&nbsp;&nbsp;类别：Web前端&nbsp;&nbsp;&nbsp;
                日期：2020-03-05 11:04:23&nbsp;&nbsp;&nbsp;阅读：95 次&nbsp;&nbsp;&nbsp;消耗积分：0 分</div>
            <div class="intro">
                					实验简介我们可以从不同的角度对一个软件产品进行质量的评估，ISO提出了软件质量模型这一参考标准，提出了各种评估产品质量的规范，帮助我们更好地评估一个软件产品的质 ...
            </div>
        </div>
    </div>
        <div class="col-12 row article-list">
        <div class="col-sm-3 col-3 thumb d-none d-sm-block">
            <img src="/thumb/123.png" class="img-fluid"/>
        </div>
        <div class="col-sm-9 col-xs-12 detail">
            <div class="title"><a href="/article/123">测试与开发团队该如何配合？</a></div>
            <div class="info">作者：reader1&nbsp;&nbsp;&nbsp;类别：Web前端&nbsp;&nbsp;&nbsp;
                日期：2020-02-28 11:02:41&nbsp;&nbsp;&nbsp;阅读：99 次&nbsp;&nbsp;&nbsp;消耗积分：0 分</div>
            <div class="intro">
                小伙伴们，大家好~本周起，我们的&ldquo;教材连载&rdquo;栏目将正式回归啦。接下来我们将用大半年的时间给大家分享Python测试开发的相关内容。上期回顾：预备知识：软件工程与软件研发&middot; ...
            </div>
        </div>
    </div>
        <div class="col-12 row article-list">
        <div class="col-sm-3 col-3 thumb d-none d-sm-block">
            <img src="/thumb/122.png" class="img-fluid"/>
        </div>
        <div class="col-sm-9 col-xs-12 detail">
            <div class="title"><a href="/article/122">预备知识：软件工程与软件研发</a></div>
            <div class="info">作者：reader1&nbsp;&nbsp;&nbsp;类别：Web前端&nbsp;&nbsp;&nbsp;
                日期：2020-01-14 10:44:43&nbsp;&nbsp;&nbsp;阅读：182 次&nbsp;&nbsp;&nbsp;消耗积分：0 分</div>
            <div class="intro">
                					实验简介软件应用于多个方面。典型的软件有电子邮件、嵌入式系统、人机界面、办公套件、操作系统、编译器、数据库、游戏等。同时，各个行业几乎都有计算机软件的应用，如工 ...
            </div>
        </div>
    </div>
        <div class="col-12 row article-list">
        <div class="col-sm-3 col-3 thumb d-none d-sm-block">
            <img src="/thumb/121.png" class="img-fluid"/>
        </div>
        <div class="col-sm-9 col-xs-12 detail">
            <div class="title"><a href="/article/121">Appium核心应用（四）</a></div>
            <div class="info">作者：reader1&nbsp;&nbsp;&nbsp;类别：Java开发&nbsp;&nbsp;&nbsp;
                日期：2020-01-07 09:50:54&nbsp;&nbsp;&nbsp;阅读：220 次&nbsp;&nbsp;&nbsp;消耗积分：0 分</div>
            <div class="intro">
                本周分享《Appium核心应用》实验中的Web应用测试。回顾上周内容，请点击：教材连载：Appium核心应用（一）教材连载：Appium核心应用（二）教材连载：Appiu ...
            </div>
        </div>
    </div>
        <div class="col-12 row article-list">
        <div class="col-sm-3 col-3 thumb d-none d-sm-block">
            <img src="/thumb/120.png" class="img-fluid"/>
        </div>
        <div class="col-sm-9 col-xs-12 detail">
            <div class="title"><a href="/article/120">Appium核心应用（三）</a></div>
            <div class="info">作者：reader1&nbsp;&nbsp;&nbsp;类别：Java开发&nbsp;&nbsp;&nbsp;
                日期：2019-12-20 11:54:57&nbsp;&nbsp;&nbsp;阅读：279 次&nbsp;&nbsp;&nbsp;消耗积分：0 分</div>
            <div class="intro">
                本周分享《Appium核心应用》实验中的原生应用测试。回顾上周内容，请点击：教材连载：Appium核心应用（一）教材连载：Appium核心应用（二）&ldquo;一笔记账&rdquo;是一个原生 ...
            </div>
        </div>
    </div>
        <div class="col-12 row article-list">
        <div class="col-sm-3 col-3 thumb d-none d-sm-block">
            <img src="/thumb/119.png" class="img-fluid"/>
        </div>
        <div class="col-sm-9 col-xs-12 detail">
            <div class="title"><a href="/article/119">Appium核心应用（二）</a></div>
            <div class="info">作者：reader1&nbsp;&nbsp;&nbsp;类别：Java开发&nbsp;&nbsp;&nbsp;
                日期：2019-12-10 10:22:13&nbsp;&nbsp;&nbsp;阅读：261 次&nbsp;&nbsp;&nbsp;消耗积分：0 分</div>
            <div class="intro">
                本周分享《Appium核心应用》实验中的界面对象识别。回顾上周内容，请点击：教材连载：Appium核心应用（一）在利用Selenium针对标准Web应用进行测试时，我们可 ...
            </div>
        </div>
    </div>
    
    <!-- 分页导航栏 -->
    <div class="col-12 paginate">
        <!-- 如果是第1页，则上一页也是第1页，否则上一页为当前页-1 -->
                <a href="/page/1">上一页</a>&nbsp;&nbsp;
        
        <!-- 根据总页数循环填充页码，并为其添加超链接进行导航 -->
                <a href="/page/1">1</a>&nbsp;&nbsp;
                <a href="/page/2">2</a>&nbsp;&nbsp;
                <a href="/page/3">3</a>&nbsp;&nbsp;
                <a href="/page/4">4</a>&nbsp;&nbsp;
                <a href="/page/5">5</a>&nbsp;&nbsp;
                <a href="/page/6">6</a>&nbsp;&nbsp;
                <a href="/page/7">7</a>&nbsp;&nbsp;
                <a href="/page/8">8</a>&nbsp;&nbsp;
                <a href="/page/9">9</a>&nbsp;&nbsp;
                <a href="/page/10">10</a>&nbsp;&nbsp;
                <a href="/page/11">11</a>&nbsp;&nbsp;
                <a href="/page/12">12</a>&nbsp;&nbsp;
                <a href="/page/13">13</a>&nbsp;&nbsp;
        
        <!-- 如果是最后一页，则下一页也是最后页，否则下一页为当前页+1 -->
                <a href="/page/2">下一页</a>
            </div>
</div>

<!-- 在此处直接将side.html包含进来,如果不需要使用侧边栏的页面,则不包含即可 -->
<!-- 侧栏文章推荐 -->
<div class="col-sm-3 col-12" style="padding: 0px 10px;">
    <div class="col-12 search-bar form-group row">
        <div class="col-8">
            <input type="text" class="form-control" id="keyword" placeholder="请输入关键字" onkeyup="doSearch(event)"/>
        </div>
        <div class="col-4" style="text-align:right;">
            <button type="button" class="btn btn-primary" onclick="doSearch(null)">搜索</button>
        </div>
    </div>

    <!-- 利用前端JS进行渲染 -->
    <div class="col-12 side">
        <div class="tip">最新文章</div>
        <ul id="last"></ul>
    </div>

    <div class="col-12 side">
        <div class="tip">最多阅读</div>
        <ul id="most"></ul>
    </div>

    <div class="col-12 side" id="fixedmenu">
        <div class="tip">特别推荐</div>
        <ul id="recommended"></ul>
        <div class="tip" style="background-color: #3276b1; text-align: center; cursor: pointer;" onclick="gotoTop()">回到顶部</div>
    </div>

</div>

<script type="text/javascript">
    function doSearch(e) {
        // 如果参数e有值，但是对应的键盘码不是13（13表示回车），则不做响应
        if (e != null && e.keyCode != 13) {
            return false;
        }
        // 利用jQuery的ID选择器取搜索框的值，为去除前后空格
        var keyword = $.trim($("#keyword").val());
        // 如果关键字为空，或长度大于10，或包含%，则表示无效，代码结束运行
        if (keyword.length == 0 || keyword.length > 10 || keyword.indexOf("%") >= 0) {
            bootbox.alert({title:'错误提示', message:'你输入的关键字不合法.'});
            $("#keyword").focus();     // 让文本框获取到焦点，方便用户输入
            return false;
        }
        // 如果keyword满足条件，则直接将页面跳转至/search/1-<keyword>地址
        location.href = '/search/1-' + keyword;
    }

    // 页面加载完成后即运行，用于前端动态填充侧边栏数据
    $(document).ready(function(){
        $.get('/recommend', function(data){
            // 分别取得JSON数据中的三个类别的数据
            var lastData = data[0];
            var mostData = data[1];
            var recommendedData = data[2];

            for (var i in lastData) {
                var articleid = lastData[i]['articleid'];
                var headline = truncate(lastData[i]['headline'], 14);
                var id = parseInt(i) + 1;
                // 通过元素的append方法为其添加内容，为<ul>添加<li>列表项
                $("#last").append('<li><a href="/article/' + articleid + '">' + id + '.&nbsp;&nbsp;' + headline + '</a></li>');
            }

            for (var i in mostData) {
                var articleid = mostData[i]['articleid'];
                var headline = truncate(mostData[i]['headline'], 14);
                var id = parseInt(i) + 1;
                // 通过元素的append方法为其添加内容，为<ul>添加<li>列表项
                $("#most").append('<li><a href="/article/' + articleid + '">' + id + '.&nbsp;&nbsp;' + headline + '</a></li>');
            }

            for (var i in recommendedData) {
                var articleid = recommendedData[i]['articleid'];
                var headline = truncate(recommendedData[i]['headline'], 14);
                var id = parseInt(i) + 1;
                // 通过元素的append方法为其添加内容，为<ul>添加<li>列表项
                $("#recommended").append('<li><a href="/article/' + articleid + '">' + id + '.&nbsp;&nbsp;' + headline + '</a></li>');
            }
        });
    });

    $(document).ready(function(){
        // 利用浏览器的user-agent属性判断浏览器类型
        var userAgentInfo = navigator.userAgent.toLowerCase();
        var agents = ["android", "iphone", "symbianOS", "windows phone", "ipad", "ipod"];
        var flag = true;    // 表示是PC端
        for (var v = 0; v < agents.length; v++) {
            if (userAgentInfo.indexOf(agents[v]) >= 0) {
                flag = false;   // 表示这是移动端
                break;
            }
        }

        // 是PC端时才进行右侧停靠
        if (flag == true) {
            var fixedDiv = document.getElementById("fixedmenu");
            var H = 0;
            var Y = fixedDiv;
            while (Y) {
                H += Y.offsetTop;
                Y = Y.offsetParent;
            }

            window.onscroll = function () {
                var s = document.body.scrollTop || document.documentElement.scrollTop;
                if (s > H + 500) {
                    fixedDiv.style = "position:fixed; top:0; margin-top:0; width: 306px;";
                } else {
                    fixedDiv.style = "";
                }
            }
        }
    });

    function gotoTop() {
        $('html, body').animate({scrollTop: 0}, 800);
        return false;
    }
</script>



    </div>
</div>

<!-- 底部设计 -->
<div class="container-fluid footer">
    <div class="container">
        <div class="row">
            <div class="col-4 left">
                <p>版权所有 &copy; 蜗牛笔记 (V-1.0)</p>
                <p>备案号： 蜀ICP备15014130号</p>
            </div>
            <div class="col-4 center">
                <p>友情链接</p>
                <p><a href="http://www.woniuxy.com/" target="_blank">在线课堂</a>&nbsp;&nbsp;&nbsp;
                    <a href="http://www.woniuxy.com/live" target="_blank">直播课堂</a>&nbsp;&nbsp;&nbsp;
                    <a href="http://www.woniuxy.com/train/index.html" target="_blank">培训中心</a>&nbsp;&nbsp;&nbsp;
                    <a href="http://www.aduobi.com" target="_blank">UI设计学院</a>
                </p>
            </div>
            <div class="col-4 right">
                <p>联系我们</p>
                <p>成都★孵化园&nbsp;&nbsp;&nbsp;QQ/微信：15903523</p>
            </div>
        </div>
    </div>
</div>

<!-- 登录和注册模态框 -->
<!-- data-backdrop="static" 表示用户必须要手工关闭模态框才能操作其他页面 -->
<div class="modal fade" id="mymodal" data-backdrop="static" tabindex="-1"
     role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- 在模态框内部配置Tab选项卡，用于切换登录和注册窗口 -->
            <div class="tabbable" id="tabs"
                 style="background-color: #337AB7; height: 50px;padding: 5px 20px;">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <!-- 与登录和注册窗口的ID进行关联 -->
                <ul class="nav nav-tabs" role="tablist">
                    <li id="login" class="nav-item active">
                        <a href="#loginpanel" data-toggle="tab" class="nav-link" style="color: midnightblue">登录</a>
                    </li>
                    <li id="reg" class="nav-item">
                        <a href="#regpanel" data-toggle="tab" class="nav-link" style="color: midnightblue">注册</a>
                    </li>
                    <li id="find" class="nav-item">
                        <a href="#findpanel" data-toggle="tab" class="nav-link" style="color: midnightblue">找回密码</a>
                    </li>
                </ul>
            </div>

            <!-- 绘制登录窗口 -->
            <div class="tab-content">
                <div class="tab-pane container active" id="loginpanel">
                    <div class="modal-content" style="margin: 20px 0px;">
                        <div class="modal-body">
                            <div class="form-group row" style="margin-top: 20px;">
                                <label for="loginname" class="col-4">&nbsp;&nbsp;登录邮箱：</label>
                                <input type="text" id="loginname" class="form-control col-7" placeholder="请输入你的邮箱地址"/>
                            </div>
                            <div class="form-group row">
                                <label for="loginpass" class="col-4">&nbsp;&nbsp;登录密码：</label>
                                <input type="password" id="loginpass" class="form-control col-7" placeholder="请输入你的登录密码"/>
                            </div>
                            <div class="form-group row">
                                <label for="logincode" class="col-4"> &nbsp;&nbsp;图片验证码：</label>
                                <input type="text" id="logincode" class="form-control col-5" placeholder="请输入右侧的验证码" onkeyup="doLogin(event)"/>
                                <img src="/captcha.html" id="loginvcode" class="col-3" style="cursor:pointer;" onclick="this.src='/captcha.html?'+Math.random()"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" onclick="doLogin(null)">登录</button>
                        </div>
                    </div>
                </div>

                <!-- 绘制注册窗口 -->
                <div class="tab-pane container" id="regpanel">
                    <div class="modal-content">
                        <div class="modal-content" style="margin: 20px 0px;">
                            <div class="modal-body">
                                <div class="form-group row" style="margin-top: 20px;">
                                    <label for="regname" class="col-4">&nbsp;&nbsp;注册邮箱：</label>
                                    <input type="text" id="regname" class="form-control col-7" placeholder="请输入你的邮箱地址"/>
                                </div>
                                <div class="form-group row">
                                    <label for="regpass" class="col-4">&nbsp;&nbsp;注册密码：</label>
                                    <input type="password" id="regpass" class="form-control col-7" placeholder="请输入你的注册密码"/>
                                </div>
                                <div class="form-group row">
                                    <label for="regcode" class="col-4">&nbsp;&nbsp;邮箱验证码：</label>
                                    <input type="text" id="regcode" class="form-control col-4" placeholder="请输入邮箱验证码" onkeyup="doReg(event)"/>
                                    <button type="button" class="btn btn-primary col-3" onclick="doSendMail(this)">发送邮件</button>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <span>注册时请使用邮箱地址，便于找回密码。&nbsp;&nbsp;</span>
                                <button type="button" class="btn btn-dark" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary" onclick="doReg(null)">注册</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 绘制找回密码窗口 -->
                <div class="tab-pane container" id="findpanel">
                    <div class="modal-content">
                        <div class="modal-content" style="margin: 20px 0px;">
                            <div class="modal-body">
                                <div class="form-group row" style="margin-top: 20px;">
                                    <label for="username" class="col-4">&nbsp;&nbsp;注册邮箱：</label>
                                    <input type="text" id="username" class="form-control col-7" placeholder="请输入你的邮箱地址"/>
                                </div>
                                <div class="form-group row">
                                    <label for="newpass" class="col-4">&nbsp;&nbsp;新的密码：</label>
                                    <input type="text" id="newpass" class="form-control col-7" placeholder="请输入新的登录密码"/>
                                </div>
                                <div class="form-group row">
                                    <label for="findcode" class="col-4">&nbsp;&nbsp;邮箱验证码：</label>
                                    <input type="text" id="findcode" class="form-control col-4" placeholder="请输入邮箱验证码" onkeyup="doReset(event)"/>
                                    <button type="button" class="btn btn-primary col-3" onclick="doSendMail(this)">发送邮件</button>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <span>请输入注册邮箱地址并重置密码。&nbsp;&nbsp;</span>
                                <button type="button" class="btn btn-dark" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary" onclick="doReset(null)">重置密码</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>